<!DOCTYPE html>
<html>
<head>
  <title>UCE_MANAGEMENT</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        text-decoration: none;
        color: black;
    }
    .card{
        margin: 1rem;
        padding: 2rem;
        align-items: center;
    }

    .align{
        align-items: center;

    }


  </style>

</head>
<body>
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto row align">
    <div class="col-lg-3">
        <div class="card ">
            <a href="\admin_login\">Admin LOgin</a>  
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <a href="\student_login\"> Student LOgin</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <a href="\faculty_login\"> Faculty LOgin</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
           <a href="\alumni_login\"> Alumni LOgin</a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
